.section {
  height: 100vh;
  padding: 4.5em 3em 4em 3em;
  overflow: hidden;
  background-color: var(--color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-extralight: #ffffff;
  --color-light: #aaaaaa;
  --color-extramedium: #666666;
  --color-medium: #4c4c4c;
  --color-extradark: #333333;
  --color-dark: #111111;
  --color-blenda: rgba(51, 51, 51, 0.3);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.stickibody {
  overflow: hidden;
}

.nav .navbar {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-dark);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.nav .navbar__links {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .navbar__link {
  list-style: none;
}
.nav .navbar__link--page {
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-light);
  font-size: 1.4em;
  padding-bottom: 0.4em;
}
.nav .navbar__link--page::before {
  position: absolute;
  content: "";
  width: 0vw;
  bottom: 0;
  border-bottom: 0.04em solid var(--color-extramedium);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav .navbar__link--page:hover::before {
  width: 25vw;
}
.nav .navbar__link--page:hover {
  color: var(--color-extramedium);
}
.nav .navbarview {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.nav .burger-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
}
.nav .burger-btn:focus {
  outline: none;
  border: 1px solid var(--color-light);
  border-radius: 8px;
}
.nav .burger-btn:hover .burger-btn__bars::after,
.nav .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.nav .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  position: absolute;
  content: "";
  right: 0;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.nav .burger-btn__bars {
  width: 100%;
}
.nav .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.nav .burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header__heading {
  font-size: 1.4em;
  color: var(--color-light);
  margin-bottom: 0.6em;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__text--text {
  font-size: 0.92em;
  color: var(--color-extralight);
}
.header__boxskills {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__skills--heading {
  font-size: 1.2em;
  color: var(--color-light);
  margin-bottom: 0.4em;
}
.header__skills--text {
  font-size: 0.92em;
  color: var(--color-extralight);
}
.header__skills span {
  font-weight: bold;
}
.header__skillsimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0em;
}
.header__img {
  width: 40px;
  height: 40px;
  margin: 0em 1em;
}

.pages__heading {
  font-size: 1.4em;
  color: var(--color-light);
  margin-bottom: 0.6em;
}
.pages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.pages__text--text {
  font-size: 0.92em;
  color: var(--color-extralight);
}
.pages__swiper {
  margin-top: 2em;
  width: 90vw;
  height: 45vh;
}
.pages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pages__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pages__side--img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.pages__icons {
  color: var(--color-light);
}

@media (min-width: 768px) {
  .header {
    background-image: url("../img/myface.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 480px -250px;
  }
  .header__heading {
    font-size: 2.4em;
  }
  .header__text--text {
    font-size: 1.6em;
  }
  .header__skills--heading {
    font-size: 1.8em;
  }
  .header__img {
    width: 75px;
    height: 75px;
  }
  .header__skillsimage {
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }
  .header__actionicons {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  .pages__heading {
    font-size: 2.4em;
  }
  .pages__text--text {
    font-size: 1.6em;
  }
  .pages__swiper {
    width: 60vw;
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 750px -300px;
  }
  .header__heading {
    margin-bottom: 3em;
    padding-bottom: 0.4em;
    border-bottom: 0.04em solid var(--color-light);
  }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__text {
    width: 32vw;
    text-align: left;
    margin: 0em 5em 1em 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__boxskills {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 1400px) {
  .header {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 1100px, -300px;
  }
  .header__heading {
    font-size: 3.6em;
  }
}/*# sourceMappingURL=style.css.map */