.section {
  height: 100vh;
  padding: 6em 3em 4em 3em;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-extralight: #ffffff;
  --color-light: #aaaaaa;
  --color-extramedium: #666666;
  --color-medium: #4c4c4c;
  --color-extradark: #333333;
  --color-dark: #111111;
  --color-blenda: rgba(51, 51, 51, 0.3);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid var(--color-light);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  content: "";
  right: 0;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--color-dark);
}
.header__heading {
  font-size: 1.6em;
  color: var(--color-light);
  margin-bottom: 0.6em;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__text--text {
  font-size: 1em;
  color: var(--color-extralight);
}
.header__boxskills {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__skills--heading {
  font-size: 1.2em;
  color: var(--color-light);
}
.header__skillsimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0em;
}
.header__img {
  width: 40px;
  height: 40px;
  margin: 0em 1em;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../img/myface.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 480px -250px;
  }
  .header__heading {
    font-size: 2.4em;
  }
  .header__text--text {
    font-size: 1.6em;
  }
  .header__skills--heading {
    font-size: 1.8em;
  }
  .header__img {
    width: 75px;
    height: 75px;
  }
  .header__skillsimage {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header__actionicons {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: url("../img/myface.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 550px -200px;
  }
}
@media (min-width: 1400px) {
  .header {
    background-image: url("../img/myface.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 200px, -1000px;
  }
}/*# sourceMappingURL=style.css.map */