@media (min-width: 768px) {
	.header {
		background-image: url('../img/myface.png');
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: 480px -250px;
		&__heading {
			font-size: 2.4em;
		}

		&__img {
			width: 75px;
			height: 75px;
		}
	}
}
