@media (min-width: 1400px) {
	.header {
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: 1100px, -300px;
		&__heading {
			font-size: 3.6em;
		}
	}

	.pages {
		&__box {
			display: flex;
			flex-direction: row;
		}
		&__text {
			width: 40vw;
		}
		&__swiper {
			width: 20vw;
			height: 75vh;
		}
	}
}
